<!-- Login -->
<form ng-show="showLogin">
    <p>Login</p>
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="defaultForm-email" class="form-control" ng-model="user.email">
        <label for="defaultForm-email">Email</label>
    </div>
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="defaultForm-pass" class="form-control" ng-model="user.password">
        <label for="defaultForm-pass">Password</label>
        <div>{{ error }}</div>
    </div>
    <br>
    <div class="text-center">
      <button class="btn btn-default" ng-click="login(user)">Login</button>
    </div>
    <br>
    <p>Don't have an account?</p>
    <a href="" ng-click="hideLogin()">Sign up</a>
</form>


<!-- Signup -->
<form ng-show="showSignup">
    <p>Signup</p>
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="orangeForm-name" class="form-control" ng-model="name">
        <label for="orangeForm-name">Name</label>
    </div>
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="orangeForm-email" class="form-control" ng-model="email">
        <label for="orangeForm-email">Email</label>
    </div>
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="orangeForm-pass" class="form-control" ng-model="password">
        <label for="orangeForm-pass">Password</label>
    </div>
    <br>
    <div class="text-center">
      <button class="btn btn-deep-orange" ng-click="createUser(name, email, password)">Sign up</button>
    </div>
    <br>
    <p>Already have an account?</p>
    <a href="" ng-click="hideSignUp()">Login</a>
</form>
<br>
<button class="btn btn-caution" ng-click="signOut()">Sign out</button>
